<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

        <bean id="addr" class="com.jOneSoft.Address">
                <constructor-arg name="city" value="Rahata"/>
                <constructor-arg name="zipCode" value="423107"/>
        </bean>
        <bean id="emp1" class="com.jOneSoft.Employee">
                <property name="id" value="1" > </property>
                <property name="name" value="Sagar"></property>
                <property name="amount" value="500000.00"></property>
                <property name="address" ref="addr"></property>
        </bean>

</beans>
